

@import  "../../styles/global.scss";
.menu{
    padding: 10px 20px;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    box-shadow:  0 0 5px rgba(0,0,0,0.3);
    position: sticky;
    top: 0px;
    left: 0;
    @include mobile{
        height: max-content;
        width:100%;
      
       
    }
    ul{
        list-style: none;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 20px;
        width: 100%;
        justify-content: flex-start;
        margin-top: 20px;
        position: relative;
        .close{
            color: red;
            position: absolute;
            right: 0;
            top: -20px;
            font-size: 25px;
            cursor: pointer;
            display: none;
            @include mobile{
                display: flex;
            }
        }
       
        padding: 10px 0px;
        @include mobile{
            flex-direction: row;
            
        }

        li{
            padding: 7px 0px;
            @include mobile{
                border: 0.1px solid lightgray;
                padding: 0;
                padding: 0px 5px;
                border-radius: 20px;
                transition:all 1s ease;
                cursor: pointer;
                &:hover{
                    background-color: teal;
                   
                }
            }
            a{
                text-decoration: none;
                color:$mainBg;
                text-transform: capitalize;
                font-weight: 500;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                @include mobile{
                    font-size: 14px;
                    font-weight: 600;
                    &:hover {
                          
                            color: white;
                        }
                }
               

                i{
                    font-size: 20px;
                    @include mobile{
                        font-size: 18px;
                    }
                   
                    
                }
                span{

                }
            }
           
        }


    }
   
}