

.message{
    width: 100%;
    height:calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .messagewrapper{
        width: 100%;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
      
        .msgcontainer{
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            padding: 5px;
           &.incoming{
            display: flex;
            justify-content: flex-start;
            flex-direction: row-reverse;
            align-items: center;
            .contents{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-start !important;
                    width: max-content;
                    p{
                        color: black;
                        background-color: white;
                    }
            }
            
           }
            .imgcontainer{
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .contents{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: max-content;
                
                
                p{
                    width: 80%;
                    background-color: white;
                    border-radius: 20px;
                    height: max-content;
                    padding: 5px 10px;
                    margin: 0;
                    color: purple;
                    box-shadow: 0 0 5px rgba(0,0,0,0.3);
                }
                span{
                    // margin-left: 20px;
                    font-size: 13px;
                    color: gray;
                }
                

            }

        }
    }
    .inputcontainer{
        position: sticky;
        bottom: 0;
        width: 100%;
        height: 50px;
        display: flex;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        display: none;

        input{
            flex: 7;
            height: 100%;
            &::placeholder{
                color: purple;
                font-weight: 600;
            }
            
        }
        button{
            flex: 1;
            height: 100%;
            background-color: purple;
            color: white;
            border: none;
            border: 1px solid lightgray;
        }
    }
}

